html, body, main, p, button {
  padding: 0;
  margin: 0;
  font-size: 48px;
  font-family: sans-serif;
}

button{
  padding: 0.5rem;
}

main {
  padding-bottom: 2rem;
  height: 99vh;
}

footer {
  background-color: lightblue;
  width: 100%;
  min-height: 2rem;
  position: fixed;
  padding: 0.5rem 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

footer nav > * {
  display: flex;
  justify-content: space-around;
}

footer nav > * + * {
  margin-block-start: 0.5rem;
}

footer nav button {
  padding: 0.5rem;
  background-color: gainsboro;
  border: none;
  border-radius: 0.2rem;
}

footer nav button:active {
  background-color: gold;
}

status-card {
  background-color: lightgreen;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  text-align: center;
}

status-card[data-state] {
  display: flex;
}

status-card[data-state=active] {
  background-color: salmon;
}

.status-busy,
[data-state=active] .status-free {
  display: none;
}

[data-state=active] .status-busy {
  display: block;
}

.big-text {
  font-weight: bold;
  font-size: 3rem;
}

.sub-text {
  font-style: italic;
}

input[type=checkbox] {
  opacity: 0;
  position: absolute;
}

input[type=checkbox] + label {
  background-color: lightblue;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

input[type=checkbox] + label::before {
  content: '✗ ';
}

input[type=checkbox]:checked + label {
  background-color: gainsboro;
  text-decoration: underline;
}

input[type=checkbox]:checked + label::before {
  content: '✓ ';
}
